.custom-wrap4 .date-picker-wrap {
	display: flex;
	margin-top: 2rem;
}

.custom-wrap4 .react-datepicker__header {
	background-color: rgb(124 196 183);
}

.custom-wrap4 .react-datepicker__day {
	background-color: transparent;
	color: #000;
}

.custom-wrap4 .react-datepicker__day--in-selecting-range,
.custom-wrap4 .react-datepicker__day--in-range {
	background-color: rgb(151 212 207);
}

.custom-wrap4 .react-datepicker__day--selecting-range-start,
.custom-wrap4 .react-datepicker__day--selecting-range-end {
	background-color: rgb(77, 182, 191);
}

.custom-wrap4 .wave {
	line-height: 1.5;
}

.custom-wrap4 .input-start-date {
	background-color: rgb(77, 182, 191);
	padding: 1rem 1.4rem;
	color: #fff;
	margin-right: 1rem;
	cursor: pointer;
}

.custom-wrap4 .react-datepicker__day-name {
	width: 28px;
	color: #fff;
}

.custom-wrap4 .react-datepicker {
	font-size: 1rem;
}

.custom-wrap4 .custom-day {
	width: 30px;
	height: 30px;
	line-height: 2.8;
}

.custom-wrap4 .react-datepicker__header {
	background-color: rgb(64 123 128);
	color: #000;
}

.custom-wrap4 .react-datepicker__triangle {
	display: none;
}

.custom-wrap4 .react-datepicker-popper {
	padding-top: 0;
}

.custom-wrap4 .selectbox {
	padding: 4px 6px;
	border: none;
	margin: 0 4px;
}

.custom-wrap4 .calendar-input-wrap {
	border: 1px solid #999;
	height: 40px;
	text-indent: 4px;
	font-size: 1rem;
	width: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 4px;
}

.custom-wrap4 .react-datepicker__input-container input {
	font-size: 1rem;
	border: none;
	padding: 0;
	width: 100px;
}

.custom-wrap4 .react-datepicker__day--disabled {
	background-color: transparent; /* 배경색 제거 */
	color: #ccc; /* 글자색 변경 */
}
